/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@tailwind base
@tailwind components
@tailwind utilities

*::-webkit-scrollbar
  width 8px

*::-webkit-scrollbar-thumb
  border-radius 8px
  background-color $accentColor

*::-webkit-scrollbar-track
  border-radius 8px
  // background-color rgba(86, 61, 124, 0.226)


body
  font-family -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size 1rem
  font-weight 400
  line-height 1.5
  color #212529
  text-align left
  background-color white
h1
  @apply text-4xl font-medium
h2
  @apply text-3xl font-medium
h3
  @apply text-2xl font-medium
h4
  @apply text-xl font-medium
h5
  @apply text-lg font-medium
h6
  @apply text-base font-medium
p
  @apply mt-5
a 
  font-weight unset
  color $accentColor
  &.header-anchor 
    @apply text-4xl -mt-1
    @media (max-width: 719px)
      @apply text-2xl mt-1


// .theme-default-content:not(.custom)
  // max-width 1000px
  // padding-inline 0
  // margin 0

.navbar .search-box input
    width 40rem
    background-size 1.2rem
    @apply mr-32 rounded-md h-10 pl-10 bg-gray-100 border-transparent text-lg font-normal
    @media (max-width: 719px)
      width 12rem
      @apply m-0
      &:focus
        width 12rem
        @apply m-0

.page-nav
  color $accentColor
  @apply text-xl font-medium
  
.home .hero img
  max-width 200px!important


/* Closing the detail content on clicking anywhere else */
/* This hack basically expands the summary button to whole page,
 so the first event is capture by the tag after it's opened */
// details[open] summary::before {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   content: "";
//   cursor: default;
// } 